<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>showrecord</servlet-name>
        <servlet-class>showrecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getlocation</servlet-name>
        <servlet-class>getlocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userregisteration</servlet-name>
        <servlet-class>userregisteration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userupdate</servlet-name>
        <servlet-class>userupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userdelete</servlet-name>
        <servlet-class>userdelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminregistration</servlet-name>
        <servlet-class>adminregistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminupdate</servlet-name>
        <servlet-class>adminupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminremove</servlet-name>
        <servlet-class>adminremove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userrecord</servlet-name>
        <servlet-class>userrecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getrecord</servlet-name>
        <servlet-class>getrecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminregister</servlet-name>
        <servlet-class>adminregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>arget</servlet-name>
        <servlet-class>arget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlog</servlet-name>
        <servlet-class>userlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutus</servlet-name>
        <servlet-class>aboutus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginpage</servlet-name>
        <servlet-class>loginpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>locationgps</servlet-name>
        <servlet-class>locationgps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homegps</servlet-name>
        <servlet-class>homegps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>locationshow</servlet-name>
        <servlet-class>locationshow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewmap</servlet-name>
        <servlet-class>viewmap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginmain</servlet-name>
        <servlet-class>loginmain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>admin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showrecord</servlet-name>
        <url-pattern>/showrecord</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewmap</servlet-name>
        <url-pattern>/viewmap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginmain</servlet-name>
        <url-pattern>/loginmain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getlocation</servlet-name>
        <url-pattern>/getlocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userregisteration</servlet-name>
        <url-pattern>/userregisteration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userupdate</servlet-name>
        <url-pattern>/userupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userdelete</servlet-name>
        <url-pattern>/userdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminregistration</servlet-name>
        <url-pattern>/adminregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminupdate</servlet-name>
        <url-pattern>/adminupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminremove</servlet-name>
        <url-pattern>/adminremove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userrecord</servlet-name>
        <url-pattern>/userrecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getrecord</servlet-name>
        <url-pattern>/getrecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminregister</servlet-name>
        <url-pattern>/adminregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>arget</servlet-name>
        <url-pattern>/arget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlog</servlet-name>
        <url-pattern>/userlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutus</servlet-name>
        <url-pattern>/aboutus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginpage</servlet-name>
        <url-pattern>/loginpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>locationgps</servlet-name>
        <url-pattern>/locationgps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homegps</servlet-name>
        <url-pattern>/homegps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>locationshow</servlet-name>
        <url-pattern>/locationshow</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
